<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./style.css">
    <title>Vue JS</title>
</head>
<body>
    <div id="app">

        <nav>
            <ul>
                <li><a :class="{active:menu==='test1'}" v-on:click="menu='test1'" href="#">Test1</a></li>
                <li><a :class="{active:menu==='test2'}" v-on:click="menu='test2'" href="#">Test2</a></li>
                <li><a :class="{active:menu==='test3'}" v-on:click="menu='test3'" href="#">Test3</a></li>
                <li><a target="blank" href="https://github.com/madvier83/learn-vue">GitHub</a></li>
            </ul>
        </nav>

        <div class="container" style="text-align: justify; max-width: 800px;">
            <img :src="img" :alt="img" width="70px" class="rounded-circle">
            <h1>Learning {{ materi }}</h1>
            <h3>{{ getName() }}</h3>

            <p>Name : <input type="text" v-model="name"></p>
            <p>Im learning : 
                <label><input type="checkbox" value="Vue.js" v-model="materi">Vue.js</label>
                <label><input type="checkbox" value="React" v-model="materi">React</label>
                <label><input type="checkbox" value="Angular" v-model="materi">Angular</label>
            </p> 
            
            <p>copyright &copy; 2022</p>
        </div>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>
</html>